@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    --header-height: 60px;
    --text-color: black;
    --background-color: white;
    --button-color: #A0A6A8;
    --header-background: #A0A6A8;
    --button-text-color: black;
    --icon-color: #666;
    margin: 50px 0 0 0;
    font-family: sans-serif;
    background: var(--background-color);
}

.preload * {
    transition: none !important;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--text-color);
    height: var(--header-height);
    background: var(--header-background);
    display: flex;
    align-items: center;
}

.header__button {
    width: var(--header-height);
    flex-shrink: 0;
    background: none;
    outline: none;
    border: none;
    color: var(--button-text-color);
    cursor: pointer;
}

.nav__links {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 250px;
    background: var(--background-color);
    transform: translateX(-250px);
    transition: transform 0.3s;
}

.nav--open .nav__links {
    transform: translateX(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.nav__link {
    display: flex;
    align-items: center;
    color: var(--icon-color);
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}

.nav__link>i {
    margin-right: 15px;
}

.nav__link--active {
    color: var(--text-color);
}

.nav__link--active,
.nav__link:hover {
    text-decoration: none;
    background: #eee;
    color: var(--text-color);
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.nav--open .nav__overlay {
    visibility: visible;
    opacity: 1;
}

.head {
    color: var(--text-color) !important;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}

.metrics {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempHeaders {
    font-weight: bold;
}

.main-container {
    color: rgb(71, 67, 67);
    margin: 1.5%;
    text-transform: uppercase;
    overflow-x: hidden;
}

#clock {
    width: 100%;
    font-size: 70px;
    /* margin-left: 400px; */
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.city {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* @media screen and (max-width:620px) {
    #clock {
        width: 100%;
        position: absolute;
        font-size: 40px;
        padding-top: 15%;
    }
}

@media screen and (max-width:316px) {
    #clock {
        width: 100%;
        position: absolute;
        font-size: 40px;
        padding-top: 55%;
    }
} */


/* DARK THEME */

body.dark {
    --header-height: 50px;
    --text-color: white;
    --background-color: #121212;
    --button-color: #252425;
    --header-background: #252425;
    --button-text-color: white;
    --icon-color: white;
    background: var(--background-color) !important;
    color: var(--text-color) !important;
}

.dark .nav__link--active,
.dark .nav__link:hover {
    text-decoration: none;
    background: #252425;
    color: var(--text-color);
}

.dark .nav__link {
    display: flex;
    align-items: center;
    color: var(--icon-color) !important;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    padding: 12px 15px;
    background: transform 0.2s;
}

.dark #clock {
    color: white;
}

.dark .metrics {
    color: white;
}

.dark .city {
    color: white !important;
}