@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #f44c7f;
}

body{
    background-color: #333a45;
}

.dropdown{
    margin: 20px;
}

.main-container{
    margin: 1.5%;
    text-align: center;
}

#clock{
    width: 100%;
    position: absolute;
    font-size: 70px;
    padding-top: 10%;
}

@media screen and (max-width:620px) {
    #clock{
        width: 100%;
        position: absolute;
        font-size: 40px;
        padding-top: 15%;
    }
}

@media screen and (max-width:316px) {
    #clock{
        width: 100%;
        position: absolute;
        font-size: 40px;
        padding-top: 55%;
    }
}