<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/todo.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_note.css') }}">
    <title>| Add Note |</title>
</head>

<body class="{{ theme }}">
    <header class="header">
        <button class="header__button" id="btnNav" type="button">
      <i class="material-icons">menu</i>
    </button>
        <div class="head" style="font-size:30px;margin-left: 0;">
            <h1>Add a Note </h1>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__links">
            <a href="/" class="nav__link">
                <i class="material-icons">home</i> Home
            </a>
            <a class="nav__link nav__link--active" href="/todos">
                <i class="material-icons">assignment</i> Your Todos
            </a>
            <a class="nav__link" href="/notes">
                <i class="material-icons">note</i> Your Notes
            </a>
            <a class="nav__link" href="/events">
                <i class="material-icons">event</i> Your Events
            </a>
            <a class="nav__link" href="/upload">
                <i class="material-icons">backup</i> File Upload
            </a>
            <a class="nav__link" href="/calculator">
                <i class="material-icons">calculate</i> Calculator
            </a>
            <a class="nav__link" href="/clock">
                <i class="material-icons">alarm</i> Clock
            </a>
            <form action="/change_theme" method="POST">
                <button style="margin-top: 270px; cursor: pointer; background:none; border: none; width: 100%;" type="submit ">
                    <a id="theme-switcher " class="nav__link">
                        <i class="material-icons">brightness_6</i> Switch Theme
                    </a>
                </button>
            </form>
        </div>
        <div class="nav__overlay"></div>
    </nav>
    <main>
        <div class="form-area">
            <div class="newNoteForm" style="margin-top: 30px;">
                <form action="/add_note" method="POST" autocomplete="off">
                    <input style="width: 50%; margin-left: 350px;" class="form-control" type="text" name="title" id="note-title" placeholder="Enter note title..."><br>
                    <textarea style="width: 80%; margin-left: 150px;" class="form-control" name="content" rows="15" id="note-content" placeholder="Note content..."></textarea><br>
                    <input type="submit" style="margin-left: 650px; background: #A0A6A8; border: 1px solid #A0A6A8" value="Add Note" class="btn btn-secondary">
                </form>
            </div>
        </div>
    </main>
    <script>
        window.addEventListener("load", () => {
            document.body.classList.remove("preload");
        });

        document.addEventListener("DOMContentLoaded", () => {
            const nav = document.querySelector(".nav");

            document.querySelector("#btnNav").addEventListener("click", () => {
                nav.classList.add("nav--open");
            });

            document.querySelector(".nav__overlay").addEventListener("click", () => {
                nav.classList.remove("nav--open");
            });
            document.getElementById("theme-switcher").addEventListener("click", () => {
                document.body.classList.toggle('dark');
                nav.classList.remove("nav--open");
            });
        });
    </script>
</body>

</html>