{% extends "base.html" %}

{% block title %}Flask App |Notes{% endblock %}

{% block content%}
<div class="t">
    <h3 id="g">You can add a note here</h3>
  </div>
  <div class="form-area">
    <form action="/add_note" method="POST" autocomplete="off">
      <label for="title"></label><br>
      <input type="text" name="title" id="hello" placeholder="note title..."><br>
      <label for="content"></label><br>
      <textarea name="content" rows="8" cols="80" placeholder="note..."></textarea><br>
      <input type="submit" value="Add Note" class="btn-2">
    </form>
  </div>

{% endblock %}