{% extends "base.html" %}

{% block title %}Student Kit{% endblock %}

{% block content%}
    <h1>Welcome To Student Kit</h1>
    <h3>What is Student Kit</h3>
    <p id="th">Student Kit is a Desktop/Browser based application made using python flask made for <a href="https://twtcodejam.net/timathon/">timathon</a> that runs on your <a href="http://127.0.0.1:5000">local host</a> it has many features like todo list, notes, calculator, clock and a file uploading system where you can upload a file and download it later if you want. This app is made by <a href="https://twtcodejam.net/timathon/team/212/">UnNamed</a> Team. <code>None</code> that is me has done the backend and the UI of the app, <code>aditya._.krishan</code> has made the calendar and calculator, <code>Koro Sensei</code> has guided us.</p>
    <hr>
    <h3><a href="/todo">Todo List</a></h3>
    <hr>
    <h3><a href="/notes">Notes</a></h3>
    <hr>
    <h3><a href="/cal">calculator</a></h3>
    <hr>
    <p id="th">Find More in Menu...</p>
{% endblock %}