
{% extends "base.html" %}

{% block title %}Flask App | Remiders{% endblock %}

{% block content%}
<div class="t">
    <h1 id="g">Reminder</h1>
    </div>
    <div class="form-area">
      <form action="/add_reminder" method="POST" autocomplete="off">
        <label for="work">Task: </label>
        <input type="text" name="work"><br>
        <p></p>
        <label for="time">Time to do by: </label>
        <input type="text" name="time" value="9 pm"><br>
        <p></p>
        <input class="btn-1" type="submit" value="Add">
      </form>
      <hr>
      <div class="task-area">
        {% for reminder in reminders %}
        <span id="task">
            {{ reminder.id }} | {{ reminder.work }} | {{ reminder.time }} | <a href="{{ url_for('delete_reminder', id=reminder.id) }}" id="d">Delete</a>
            </span><br>
            <p></p>
        {% endfor %}
      </div>
    </div>

{% endblock %}
