{% extends "base.html" %}

{% block title %}Flask App | Reminder{% endblock %}

{% block content%}
    <h1>Add a Reminder</h1>
    <div class="q">
    <form action="/add_reminder" method="POST" autocomplete="off">
        <p>Please provide Time in military format (13:00)</p>
        <label for="hr">Hour: </label>
        <input type="text" name="hr" required><br>
        <p></p>
        <label for="mi">Minute: </label>
        <input type="text" name="mi" required>
        <p></p>
        <input type="submit" value="Set">
    </form>
    <h3>Note: Reminder will spot if you go to any other page</h3>
    </div>

{% endblock %}