
{% extends "base.html" %}

{% block title %}Flask App | Todo List{% endblock %}

{% block content%}
<h1>Add a Task</h1>
    <form action="/add" method="POST" autocomplete="off">
        <div>
            <label for="task">Add Some Task: </label>
            <input type="text" name="task" required><br>
            <button style="margin-top: 10px;">Add</button>
        </div>
    </form>

    {% for todo in todo_list %}
    <div>
      <p> {{ todo.id }} | {{ todo.task }} </p>

        {% if todo.complete == False %}
            <span>In Complete</span>
        {% else %}
            <span>Done</span>
        {% endif %}

        <a href="/update/{{ todo.id }}">Update</a>
        <a href="/delete/{{ todo.id }}">Delete</a>
    </div>
    {% endfor %}

{% endblock %}