
{% extends "base.html" %}

{% block title %}Flask App | Todo List{% endblock %}

{% block content%}
<div class="t">
    <h1 id="g">Todo List</h1>
    <h3 id="g">Add Some Task Todo</h3>
    </div>
    <div class="form-area">
      <form action="/add" method="POST" autocomplete="off">
        <label for="task">Task: </label>
        <input type="text" name="task">
        <input class="btn-1" type="submit" value="+">
      </form>
      <hr>
      <div class="task-area">
        {% for todo in todo_list %}
        {% if todo.complete == False %}
            <span id="task">
            {{ todo.id }} | {{ todo.task }} | <span class="nd">In Complete</span> | <a href="/update/{{ todo.id }}" id="u">Update</a> | <a href="/delete/{{ todo.id }}" id="d">Delete</a>
            </span><br>
            <p></p>
        {% else %}
        <span id="task">
            {{ todo.id }} | {{ todo.task }} | <span class="dni">Done</span> | <a href="/update/{{ todo.id }}" id="u">Update</a> | <a href="/delete/{{ todo.id }}" id="d">Delete</a>
            </span><br>
            <p></p>
        {% endif %}
        {% endfor %}
      </div>
    </div>

{% endblock %}