<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <title>| File Uploads |</title>
</head>

<body class="{{ theme }}">
    <header class="header">
        <button class="header__button" id="btnNav" style="color: white;" type="button">
      <i class="material-icons">menu</i>
    </button>
        <div class="head">
            <h1>Your Files</h1>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__links">
            <a href="/" class="nav__link">
                <i class="material-icons">home</i> Home
            </a>
            <a class="nav__link" href="/todos">
                <i class="material-icons">assignment</i> Your Todos
            </a>
            <a class="nav__link" href="/notes">
                <i class="material-icons">note</i> Your Notes
            </a>
            <a class="nav__link" href="/events">
                <i class="material-icons">event</i> Your Events
            </a>
            <a class="nav__link  nav__link--active" href="/upload">
                <i class="material-icons">backup</i> File Upload
            </a>
            <a class="nav__link" href="/calculator">
                <i class="material-icons">calculate</i> Calculator
            </a>
            <a class="nav__link" href="/clock">
                <i class="material-icons">alarm</i> Clock
            </a>
            <form action="/change_theme" method="POST">
                <button style="margin-top: 270px; cursor: pointer; background:none; border: none; width: 100%;" type="submit ">
                    <a id="theme-switcher " class="nav__link">
                        <i class="material-icons">brightness_6</i> Switch Theme
                    </a>
                </button>
            </form>
        </div>
        <div class="nav__overlay"></div>
    </nav>


    <main style="margin-top: 70px;">
        <button id="addFileBtn" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
      Upload File
    </button>

        <div class="files_area">
            {% for file in files %}
            <div>
                <div id="ns">
                    <h4>{{ file.file_name }}</h4>
                </div>
                <span class="editLinks">
                    <a href="upload/download/{{ file.id }}" class="btn btn-secondary editBtn" style="border: 1px solid grey; background: #A0A6A9; width:100px">Download</a>
                    <a href="upload/delete/{{ file.id }}" class="btn btn-secondary editBtn" style="border: 1px solid grey; background: #A0A6A9; width:100px">Delete</a>
                </span>
            </div>
            {% endfor %}
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Upload File</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                    </div>
                    <form action="/upload" method="POST" enctype=multipart/form-data style="margin: 20px;">
                        <div class="modal-body">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="file" required>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Upload" class="btn btn-secondary">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <script>
        window.addEventListener("load", () => {
            document.body.classList.remove("preload");
        });

        document.addEventListener("DOMContentLoaded", () => {
            const nav = document.querySelector(".nav");

            document.querySelector("#btnNav").addEventListener("click", () => {
                nav.classList.add("nav--open");
                document.querySelector(".all-todos").style.marginLeft = "250px";
            });

            document.querySelector(".nav__overlay").addEventListener("click", () => {
                nav.classList.remove("nav--open");
            });
            document.getElementById("theme-switcher").addEventListener("click", () => {
                document.body.classList.toggle('dark');
                nav.classList.remove("nav--open");
            });
        });
    </script>
</body>

</html>